<div class="container container_item_page">

	<div class="user_profile_page ">
    <%= foodie_profile_image(@user, "review", "user_profile_image") %>
    <div class="user_stats">
      test data
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#reviews" data-toggle="tab">Ratings / Reviews</a></li>
    <li><a href="#items" data-toggle="tab">My Items</a></li>
  </ul>

  <br/>
  <div class="tab-content">
    <div class="tab-pane active" id="reviews">
      <%= render :partial => 'home/recently_added_dish',
        :collection => user_review_rated_dishes(@user), :as => :dish %>
    </div>
    <div class="tab-pane" id="items">
      <%= render :partial => 'home/recently_added_dish',
        :collection => @user.dishes, :as => :dish %>
    </div>
  </div>

</div>

<script>
  $(function() {
    $('#myTab a:last').tab('show');
  })
</script>
