<div class="row ">
	<div class="heading_padding">
		<p class="section_heading">Recently Added</p>
	</div>
</div>
<div class="row">
	<%= render :partial => 'home/recently_added_dish', :collection => (@dishes || @recently_added_dishes),
	:as => :dish %>
</div>
