<div class="row ">
	<div class="heading_padding">
		<p class="section_heading">Recently Added</p>
	</div>
</div>
<div class="row">
	<%= render :partial => 'recently_added_dish', :collection => @recently_added_dishes,
	:as => :dish %>
</div>
