<div class="row ">
	<div class="col-md-4 col-md-offset-4 recently_heading">
		<p class="text-center section_heading">Recently Added</p>
	</div>
</div>
<div class="row component_padding_left">
	<%= render :partial => 'recently_added_dish', :collection => @recently_added_dishes,
	:as => :dish %>
</div>
