
<div class="row ">
	<div class="heading_padding">
		<p class="section_heading">Top Foodies</p>
	</div>
</div>
<div class="row component_padding_left">
	 <%= render :partial => 'top_foodie', :collection => @top_foodies,
    :as => :top_foodie %>
</div>