<div class="col-md-3 component_front component_margin_right component_margin_bottom">
    <img src="<%= asset_path 'default-profile-pic.png' %>" class="img-circle foodies">
    <p class="foodie_name text-center"><%= top_foodie[0].name %></p>
    <p class="foodie_points text-center"><%= top_foodie[1] %></p>
</div>
