<div class="row">
	<div class="heading_padding ">
		<p class="section_heading">Trending Tags</p>
	</div>
</div>
<div class="row component_padding_left ">
	<%= render :partial => 'trending_tag', :collection => @trending_tags_array,
	:as => :tag_score_array %>
</div>