<%= javascript_include_tag :home %>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<div id="carousel-example-generic" class="carousel slide carousel_home">
    <div class="carousel_overlay_div">
        <div class="container container_home">
            <div class=" col-lg-8 center_overlay">
                <div class="form-group">
                    <p class="home_margin text-center home_font">Discover a new favorite dish everyday</p>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Search">
                </div>
            </div>
        </div>
    </div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="<%= asset_path 'Watermelon-Banner.png' %>" class="carousel_img">
            <div class="carousel-caption">
                <p class=" text-center caption_font">Discover a new favorite dish everyday</p>
                <b>
                    <p class="color:white">Cheese pizza</p>
                </b>
            </div>
        </div>
        <div class="item">
            <img src="<%= asset_path 'Watermelon-Banner.png' %>" class="carousel_img">
            <div class="carousel-caption">
                <p class=" text-center caption_font">Discover a new favorite dish everyday</p>
                <b>
                    <p class="color:white">Cheese pizza</p>
                </b>
            </div>
        </div>
        <div class="item">
            <img src="<%= asset_path 'Watermelon-Banner.png' %>" class="carousel_img">
            <div class="carousel-caption">
                <p class=" text-center caption_font">Discover a new favorite dish everyday</p>
                <b>
                    <p class="color:white">Cheese pizza</p>
                </b>
            </div>
        </div>
    </div>
</div>
<input type="text" class="tags_autocomplete" name="dish[tag_names]" />
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script>
    $('.carousel').carousel();
</script>
