<%= javascript_include_tag :home %>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<div id="carousel-example-generic" class="carousel slide carousel_home">
	<div class="carousel_overlay_div">
		<div class="container container_home">
			<div class=" col-lg-8 center_overlay">
				<div class="form-group">
					<p class="home_margin text-center home_font">Discover a new favorite dish today</p>
					<input type="text" class="form-control" id="search_speciality" placeholder="Search for dishes">
				</div>
			</div>
		</div>
	</div>
	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item active bg_image1">
			<div class="carousel-caption">
				<p class=" text-center caption_font">"Subtle, mellow and unique. I was thinking about it all day"</p>
				<b>
					<p class="carousel-dish-name">Herb Onion Salad</p>
				</b>
			</div>
		</div>
		<div class="item bg_image2">
			<div class="carousel-caption carousel-caption_fallback">
				<p class=" text-center caption_font">"I found the pizza to be the perfect blend of juicy and spicy"</p>
				<b>
					<p class="carousel-dish-name">Cheese pizza</p>
				</b>
			</div>
		</div>
		<div class="item bg_image3">
			<div class="carousel-caption">
				<p class=" text-center caption_font">"It was surprising to see Chinese taste so good"</p>
				<b>
					<p class="carousel-dish-name">Chicken Tsing-hoi Noodles</p>
				</b>
			</div>
		</div>
		<div class="item bg_image4">
			<div class="carousel-caption">
				<p class=" text-center caption_font">"Perfect, just perfect. I loved it!"</p>
				<b>
					<p class="carousel-dish-name">Brown Butter Raspberry Tart</p>
				</b>
			</div>
		</div>
	</div>
</div>
<div class="inc_container">
	<%= render :partial => 'trending_tags' %>
	<%= render :partial => 'recently_added_dishes' %>
	<%= render :partial => 'top_foodies' %>
</div>
<script>
$('.carousel').carousel();
</script>
