.twitter-typeahead {
	width: 605px;
	.tt-dataset-dishes
	{
		margin: 0;
	}
	.typeahead, .tt-query, .tt-hint {
		width: 100%;
		height: 100%;
		padding: 9px 12px;
		font-size: 14px;
		line-height: 20px;
		outline: none;
	}
	.tt-hint {
		color: #AAA;
	}
	.section-title {
		float:left;
		height: 80px;
		background-color: #f5f5f5;
		clear: both;
		width : 82px;
	}
	.tt-suggestions{
			width : 515px;
			margin-left : 90px;
	}
	.tt-dropdown-menu {
		background-color: #FFF;
		width: 100%;
		margin-top:14px;;
		padding-top: 0px !important;
		padding-bottom: 0px !important;

		&:before {
			content: "";
			display: inline-block;
			position: relative;
			border-left: 12px solid rgba(0, 0, 0, 0);
			border-right: 12px solid rgba(0, 0, 0, 0);
			border-bottom: 12px solid #f5f5f5;
			top: -15px;
			left: 30px;
		}
		.tt-dataset-dishes
		{
			margin-top: -20px !important;
			margin-bottom : 0px !important;
			border : 1px solid #f5f5f5;
		}
		p
		{
			padding-top :5px;
			padding-left : 30px;
			padding-bottom :0px;
			margin-bottom : 0px;
			line-height : 22px;
		}
		div
		{
			padding-bottom :0px;
			margin-bottom : 0px;
		}
		

	}
}