<div id="locationField">
	<input id="autocomplete" placeholder="Enter your address"
	onFocus="geolocate()" type="text" name="location[address]" class="form-control"></input>
	<input id="latitude" name="location[latitude]" type="hidden"></input>
	<input id="longitude" name="location[longitude]" type="hidden"></input>
</div>