<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<img class="logo_brand"  src="<%= asset_path 'Speciality-Home.png' %>">
			</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse header_collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav navbar-right ">
				<li>
					<a href="#">Chennai</a>
				</li>
				<li>
					<!-- <a href="#">Home</a> -->
					<%= link_to "Home", root_path %>
				</li>
				<li>
					<a href="#">Discover</a>
				</li>
				<li class="navbar_list">
					<button type="button" class="btn btn-danger">Danger</button>
				</li>
				<li class="navbar_list">
					<button type="button" id="login" class="btn btn-danger">My Account</button>
				</li>
			</ul>
		</div>
	</div>
	<!-- /.navbar-collapse -->
</nav>