<div class="modal fade" id="new_item_modal">
		<div class="modal-dialog ">
			<div class="modal-content add_item_container">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<p class="new-item-heading">Add a new item to Speciality</p>
				</div>
				<div class="modal-body">
					<div class="col-lg-4 new_item_image_container">
							<h5 style="text-align:center;">PHOTO</h5> 
							<img src="<%= asset_path 'default-new-item.png' %>" class="new_item_image">
							<button type="button" class="btn btn-success new_item_upload_button">Upload</button>
					</div>
					<div class="col-lg-8 new_item_details_container">
							 <form role="form" class="new_item_form">
								<div class="form-group">
									<label for="exampleInputEmail1">Email address</label>
									<input type="email" class="form-control new_item_form_input " id="exampleInputEmail1" placeholder="Enter email">
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">Email address</label>
									<input type="email" class="form-control new_item_form_input " id="exampleInputEmail2" placeholder="Enter email">
								</div>
							</form>
							
							<div class="form-group">
									<label for="exampleInputEmail1">Email address</label>
									<br>
									<textarea class="new_item_txt" ></textarea>
								</div>
							</form>
					</div>
				</div>
				<div class="modal-footer">
					<a href="#" onclick="function(){return false;}" data-dismiss="modal">CANCEL</a>
					<button type="button" class="btn btn-success">SUBMIT REVIEW</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->